body {
    background-color: #FAFAFA;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}
.container {
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}
.header-bar {
    background-color: #4B0082; /* Indigo */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bar a, .btn-link {
    color: #E0E0E0;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.card-body {
    padding: 20px;
}
.task-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}
.task-title a {
    text-decoration: none;
    color: #4B0082;
    font-weight: 600;
}
.delete-icon {
    color: #D32F2F;
    text-decoration: none;
    font-weight: bold;
}
.btn-add {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #4B0082;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.form-control {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn-submit {
    background-color: #4B0082;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}